#landing {
    display: grid;
    grid-template-rows: 2fr 3fr;
    padding-bottom: 5vw;
}

#message {
    display: grid;
    font-size: 54px;
    justify-content: center;
    align-content: flex-end;
    margin-bottom: 5vw;
}

#user-display {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: black;
    font-size: 32px;
    font-weight: bold;
}

.fas {
    font-size: 7vw;
    margin-bottom: 1vw;
    color: white;
}