.user-box {
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: red;
    margin: 2vw;
    border-radius: 5px;
    height: 25vh;
}

.user-box:active {
    border: lightgray;
    border-style: inset;
}

.user-box:hover {
    box-shadow: 0px 0px 15px gray;
}