.App {
  text-align: center;
  padding: 1vw;
  display: grid;
  grid-template-rows: 1fr 19fr;
  height: 100vh;
  width: 100wv;
  font-size: 20px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 5fr;
  font-size: 24px;
}

.links, .links:visited, .links:link {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: left;
  text-decoration: none;
  color: white;
}

.logo {
  display: grid;
  justify-self: right;
  color: #df0101ef;
  font-weight: 700;
}