body {
  margin: 0;
  padding: 0;
  font-family: 'Merienda', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000ea;
  color: white;
}

a:link {
  text-decoration: none;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

a:visited {
  text-decoration: none;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
